<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); %>
</head>
<body>
    <header> 
    <%- include('../views/partials/header'); %>
    </header>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>