<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); %>
</head>
<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>
   
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <section class="form-parent">
        <form action="/login" method="POST">
            <label for="email">Email Address</label>
            <input type="email" name="email" placeholder="Email">

            <label for="password"> Password</label>
            <input type="password" name="password" placeholder="Password">
            <section class="signup-buttons">
                <a href="/">
                    <input type="button" value="Back" class="sec-button">
                </a>
                <input value="Sign in" type="submit" class="main-button">
            </section>  
        </form>
    </section>
   
</body>
</html>