<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); %>
</head>
<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <h1>PROFILE</h1>
    <h2>User name: <!--%= user.userName %--> .</h2>
    <h2>Email: <!--%= user.email %--> .</h2>

    <h3>Add a Boom</h3>

    <form action="/profile/createPost" method='POST'>
        <input type="text" placeholder="Enter Title" name='postTitle'>
        <input type="text" placeholder="Caption" name='postCaption'>
        <input type="submit" value="Post">
    </form>
    
    <a href="/logout">Logout</a>
    <a href="/feed">Return to feed</a>

    <script src="js/main.js"></script>
</body>
</html>
