<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>Logo goes here</header>
    <h1>PROFILE</h1>
    <h2>User name: <!--%= user.userName %--> .</h2>
    <h2>Email: <!--%= user.email %--> .</h2>

    <h3>Add a Boom</h3>

    <form action="/profile/createPost" method='POST'>
        <input type="text" placeholder="Enter Title" name='postTitle'>
        <input type="text" placeholder="Caption" name='postCaption'>
        <input type="submit" value="Post">
    </form>
    
    <a href="/logout">Logout</a>
    <a href="/feed">Return to feed</a>

    <script src="js/main.js"></script>
</body>
</html>
