
/* .completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
 */

/**

******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
  clear: both;
  }
  /******************************************
  /* LAYOUT
  /*******************************************/
  body{
    color: #0c0f0a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
  }

  /***
Styles to define:
- Primary Color
- Primary Button
- Secondary Button
- Danger Button
- Font
-- Headings
-- Paragraph
-- Color
-- Sizes

**/


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > img{
    width: 600px;
}

.form-parent{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

form{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
form input{
    width: 582px;
    height: 43px;
    margin: 5px 0px 20px 0px;
    padding-left: 20px;
}

.input-with-bottom-text{
    margin-bottom: 0px;
}

.bottom-text{
    font-size: 0.7rem;
    color: gray;
    margin: 5px 0px 20px 0px;
}

.signup-buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

route-links{
    display: flex;
    width: 30%;
    justify-content: center;
}

 .sec-button{
     width: 100%;
     margin-right: 10px;
     padding: 8px 24px;
     background: white;
     border: 1px solid #4FA8FF;
     border-radius: 5px;
     color: #4FA8FF;
 }

 .main-button{
    width: 70%;
     /* margin-right: 10px; */
    padding: 12px 24px;
    background: #4FA8FF;
    color: white;
    border: none;
    border-radius: 5px;
 }

 .alert{
     background: whitesmoke;
     color: tomato;
     font-size: 0.7rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 /* PROFILE PAGE STYLE */

 .center-align-items{
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
     
 }

 .center-align-items > h3:first-child{
     margin-right: 280px;
 }

 .card{
    box-shadow: 0px 7px 30px -10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 0px 300px;
 }

 .single-button{
     width: 50%;
 }

 .inner-button-link{
     display: inline;
 }

 .inner-text-button{
     display: inline;
     margin-left: -582px;
     height: 41px;
     /* background: #f5f5f5; */
     /* border: 1px #f5f5f5 solid; */
     padding: 10px;
     border-radius: 5px;
 }

 .warning{
     border: orange 2px solid;
     color: orange;
 }

 .danger{
    border: tomato 2px solid;
    color: tomato;
 }

 .main-button-distinct{
     background: #d8ebff;
 }